behave==1.2.6 ; python_version >= "3.12" and python_version < "4.0"
parse-type==0.6.2 ; python_version >= "3.12" and python_version < "4.0"
parse==1.20.1 ; python_version >= "3.12" and python_version < "4.0"
pillow==10.3.0 ; python_version >= "3.12" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.12" and python_version < "4.0"
